*, html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  width: 960px;
  display: block;
  margin: 0 auto;
}


/************** BACKGROUND ***********************/

.background {
  width: 100%;
  height: 30rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  background-size: cover;
  padding-top: 1rem;
}

/*********************** HEADER ******************************/

header {
  width: 960px;
  display: flex;
  background-color: cadetblue;
  color: white;
  height: auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
}

.logo-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  display: flex;
  vertical-align: middle;
}

.name {
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
}

.nav span {
  padding: 0 2rem;
}

.nav-menu {
  display: none;
}

/********BANNER ****/

.banner {
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin: 10rem -2rem 0 0;
  float: right;
  display: block;
}


/********************* PROMO LOGOS *************************/

.promo-logo {
  margin: 3rem auto;
  height: 8rem;
  display: flex;
  justify-content: center;
}

.log-1, .log-2, .log-3 {
  width: 8rem;
  text-align: center;
}

.img-col {
  height: 5rem;
  display: flex;
  justify-content: center;
}

.promo-logo img {
  width: 3.5rem;
  display: block;
  object-fit: contain;
}

.promo-logo span {
  display: block;
  line-height: 1.2rem;
}

.log-2 {
  padding: 0 6rem;
}


/*<!--*********************** MISSION/VISION and APOINTMENTS DETAILS  -->*/


.mission {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  width: 10rem;
  margin-bottom: 1rem;
  color: white;
}

.col-1, .col-2 {
  width: 35%;
  line-height: 1.2;
}

.col-1 {
  margin-right: 5%;
}


/*<!--********************FOOTER *************************** -->*/

footer {
  width: 100%;
  background-color: azure;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}


/*************************MEDIA QUERY **********************/

@media only screen and (max-width: 960px) {
  header, .container {
    width: 100%;
  }

  .background {
    width: 100%;
    height: 22rem;
    padding-top: 0rem;
  }

  .banner {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin: 5rem 2rem 0 0;
  }
}


@media only screen and (max-width: 770px) {
  .background {
    height: 17rem;
    background-position: 20%;
  }

  .nav {
    display: none;
  }

  .banner {
    padding: 1rem 0;
    font-size: 1rem;
    margin: 9rem 0 0 0;
    width: 100%;
    text-align: center;
  }

  .name {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 3rem;
  }

  /***********3 PROMOTIONS****************/

  .promo-logo {
    margin: 3.77rem auto;
    height: auto;
    display: block;
    font-size: 0.77rem;
  }

  .log-1, .log-2, .log-3 {
    width: 8rem;
    text-align: center;
    margin: 1.54rem auto;

  }

  .img-col {
    height: auto;
    display: block;
  }

  .img-col img {
    margin: 1rem auto;
  }

  .img-col span {
    margin: 0 auto;
  }

  .log-2 {
    padding: 0;
  }

  /*<!--*********************** MISSION/VISION and APOINTMENTS DETAILS  -->*/

  .mission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1rem;
    background-color: cadetblue;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
  }

  .col-1, .col-2 {
    width: 100%;
    line-height: 1.2;
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  .mission p {
  padding: 0 0.5rem;
 }
  .col-1 {
    margin-right: 0;
  }


  /*<!--********************FOOTER *************************** -->*/
  footer {
    padding: 0;
    height: 6rem;
  }

  footer h3 {
    display: none;
  }

  footer img {
    height: 1.5rem;
    margin: 0 auto;
  }

}
